<div style="background-color:rgb(29, 83, 133); color:rgb(243, 248, 253);padding:10px;">
    <h2>Info</h2>
    <div style="color:white; padding:10px;">
        <p>Nombre de la plataforma (sistema operativo): {{nombrePlataforma}}</p>
        <p>Versión de node.js: {{verNode}}</p>
        <p>Memoria total reservada (rss): {{memoriaRSS}}</p>
        <p>Path de ejecución: {{pathEjec}}</p>
        <p>Process id: {{processId}}</p>
        <p>Carpeta del proyecto: {{carpetaProyecto}}</p>
    </div>
</div>